doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Nous avons reçu une requete que vous avez oublier votre mot de passe 

        p Clicker ce lien pour le changer 

        button 
            a(href=resetUrl) Changez

