doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
        h1 Hello World!
        h1= t
        p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Neque sint laudantium, nam natus magni quos nisi repudiandae facere quas aspernatur laborum aperiam quam consectetur ad suscipit fugit voluptatem optio consequatur?